#donate {
	height: 980px;
}

#paypal {
	width: 300px;
	margin-left: 25%;
	margin-right: 25%;
	margin-bottom: 80px;
}

p {
	font-size: 18px;
	color: #07498b;
	margin-left: 25%;
	margin-right: 25%;
	text-align: center;
}

#donate-content, .row {
	margin: 50px;
	margin-bottom: 0px;
	height: 250px;
	text-align: center;
	overflow: scroll;
}

#content, .container {
	text-align: center;
}

footer {
	position: absolute;
}