#project-seed {
	height: 978px;
}

#paypal {
	width: 300px;
	padding-top: 20px;
}

p {
	font-size: 18px;
	color: black;
	margin-left: 25%;
	margin-right: 25%;
}

div #project-seed-content, .row {
	margin: 50px;
	height: 389px;
	text-align: center;
	overflow: scroll;
}


