#phi-beta-sigma {
  color: #5a5a5a;
  height: 1100px;
  width: 100%;
  position: absolute;
}

#pbs-about > .col-lg-6 {
  width: 45%;
  margin: 0px;
  display: inline-block;
  text-align: center;
}

#pbs-about {
  padding: 0px;
  height: 55%;
}

#pbs-pittsburgh {
  height: 50%;
  vertical-align: top;
}

#pbs-pittsburgh ul {
  list-style-type: none;
  padding: 0px;
}

h2 {
  color: #065c98;
  text-align: center;
  text-transform: uppercase;
  font-size: 25px;
}

li {
	text-align: center;
}

p {
  color: black;
  text-align: center;
  font-size: 12px;
}
