#phi-beta-sigma {
  color: #5a5a5a;
  height: 1140px;
}

#pbs-about {
  padding-left: 100px;
  padding-right: 100px;
  height: 850px;
  overflow: scroll;
}

#phi-beta-sigma > #pbs-about {
  margin: 0px;
}

#pbs-history{
  padding-left: 5%
}

#pbs-pittsburgh{
  padding-right: 5%;
}

h2 {
  color: #065c98;
  text-align: center;
  text-transform: uppercase;
}

li {
	text-align: center;
}

p {
  color: black;
  text-align: center;
}