/* RESPONSIVE CSS
-------------------------------------------------- */
@media (min-width: 767px){
  #sigma-beta-club h2 {
    font-size: 25px;
  }

  #sigma-beta-club .tenant-title {
    font-size: 14px;
  }

  .row {
    margin: 0px;
  }

  .col-lg-4{
    width: 30%;
    text-align: center;
    padding : 0px;
    display: inline-block;
    }

  #pbs, #support, #sbc {
    padding: 0px;
    margin: 0px;
  }

  .col-lg-4 > p{
    font-size: 12px;
  }
  
  .navbar-nav {
    height: 100%;
    width: 70%;
    font-size: 12px;
  }
}

@media (min-width: 300px) and (max-width: 479px){

  #homepage > .page-content > #myCarousel {
    height: 15%;
  }

  #homepage > .page-content > #homeMarketing {
    height: 80%;
  }

  #phi-beta-sigma {
    height: 1800px;
  }

  #phi-beta-sigma .navbar-wrapper {
    top: 0;
    right: 0;
    left: 0;
    height: 3.6%;
  }


  #phi-beta-sigma > .page-content > #large-image {
    height: 15%;
  }

  #pbs-about {
    margin-left: 2px;
  }

  #phi-beta-sigma footer {
    height: 2.5%
  }
  
  #sigma-beta-club {
    height: 1500px;
  }

  #sigma-beta-club > .page-content > #large-image {
    height: 15%;
  }

  #sigma-beta-club #sbc-history {
    display: table-cell;
    padding-left: 5px;
    padding-right: 5px;
  }

  #sigma-beta-club #sbc-tenants {
    width: 100%;
    padding-left: 5px;
    padding-right: 5px;
  }
  
  #sigma-beta-club .tenant {
    font-size: 10px;
  }

  #sigma-beta-club .tenant-title {
    font-size: 12px;
  }
  
  #sigma-beta-club .tenant-text {
    font-size: 10px;
  }

  #sigma-beta-club .tenant-text p{
    font-size: 12px;
  }

  .container > .navbar-header {
    margin: 0px;
    width: 100%;
  }

  .navbar-inverse .navbar-toggle {
    border-color: #333;
  }

  .navbar-inverse .navbar-toggle:hover,.navbar-inverse .navbar-toggle:focus {
    background-color: #07498b;
  }

  .navbar-inverse .navbar-toggle .icon-bar {
    background-color: #fff;
  }
  
  #navbar > .navbar-nav {
    margin: 0px;
    width: 100%;
  }

  #logo > .navbar-brand {
    padding-top: 5px;
    padding-bottom: 0px;
    width: 200px;
    font-size: 20px;
  }
  .col-lg-4 > p {
    font-size: 18px;
  }
  .btn-primary {
    margin-top: 20px;
  }

  .navbar-toggle {
    position: relative;
    float: right;
    padding: 9px 10px;
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
  }

  .navbar-toggle:focus {
    outline: 0;
  }
  .navbar-toggle .icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
  }
  .navbar-toggle .icon-bar + .icon-bar {
    margin-top: 4px;
  }
  .navbar-default .navbar-toggle {
    border-color: #ddd;
  }
  .navbar-default .navbar-toggle:hover,
  .navbar-default .navbar-toggle:focus {
    background-color: #ddd;
  }
  .navbar-default .navbar-toggle .icon-bar {
    background-color: #888;
  }

  .navbar-nav > #home-tab {
    width: 100%;
    text-align: center;
  }

  .navbar-nav > #phi-beta-sigma-tab {
    width: 100%;
    text-align: center;
  }

  .navbar-nav > #bigger-and-better-business-tab {
    width: 100%;
    text-align: center;
  }

  .navbar-nav > #education-tab {
    width: 100%;
    text-align: center;
  }

  .navbar-nav > #social-action-tab {
    width: 100%;
    text-align: center;
  }

  .navbar-nav > #donate-tab {
    width: 100%;
    text-align: center;
  }

  .navbar-collapse.in {
    overflow-y: visible;
  }

  .navbar-nav > li{
    background-color: #07498b;
  }
  
  #pbs, #support, #sbc {
    padding: 0px;
    margin: 0px;
  }
  #pbs {
    padding-left: 3px;
  }
  
  .col-lg-4 {
    width: 30%
  }
  .col-lg-4 > p {
    font-size: 10px;
    padding: 0px;
    }
  
  h2 {
    font-size: 16px;
  }

  #footer > p {
    font-size: 12px;
  }

  .submenu > .submenu-item {
  text-align: center;
  width: 100%;
  background-color: #07498b;
  position: relative;
  display: block;
  padding: 0px;
  list-style-type: none;
  font-size: 12px;
  }

  .submenu-item > li > a {
    color: white;
  }
}