#sigma-beta-club {
  color: #5a5a5a;
  height: 1150px;
}

#sbc-about {
  padding-left: 100px;
  padding-right: 100px;
  height: 650px;
}

#sbc-about, .row {
  padding: 0px;
  margin: 0px;
  height: 650px;
}

#sbc-about h2 {
  color: #07498b;
  text-align: center;
  height: 70px;
  padding-top: 18px;
}

#sbc-about  .col-lg-1 {
  margin: 0px;
}

#sbc-about .col-lg-5 {
  margin: 0px;
  padding-top: 20px;
  color: black;
}

ul {
  padding-left: 20px;
}

.bold {
  font-weight: bold;
}

#sbc-tenants {
  padding-right: 85px;

}

.tenant-header {
  background-color: #07498b;
  height: 70px;
  padding-top: 18px;
}

.tenant {
  float: left;
  width: 100%;
  border-bottom: 1px solid #ECF0F1;
  margin-bottom: 10px; 
}

.tenant:hover{
  color: #07498b;
  cursor: pointer;
}

#education-text, #social-action-text, #bigger-and-better-business-text, #childhood-obesity-text, #special-programs-text {
  display: none;
  background-color: inherit;
}

.tenant-icon {
  float: left;
}

.tenant-title {
  float: left;
  font-size: 18px;
  text-transform: uppercase;
  padding-top: 7px;
  padding-left: 15px;
}

#education-text {
  height: 220px;
}

#social-action-text {
  height: 200px;
}

#bigger-and-better-business-text {
  height: 270px;
}

#childhood-obesity-text {
  height: 460px;
}

#special-programs-text {
  height: 450px;
}