#donate {
	height: 980px;
}

#paypal {
	width: 300px;
	margin-left: 25%;
	margin-right: 25%;
	margin-bottom: 80px;
}

p {
	font-size: 18px;
	color: #07498b;
	margin-left: 5%;
	margin-right: 5%;
	text-align: center;
}

#donate-content, .row {
	height: 30%;
	padding-top: 5%;
	margin-bottom: 0px;
	text-align: center;
}

.page-content > .container {
	height: 27%;
	text-align: center;
}

@media (min-width: 300px) and (max-width: 766px){
	#large-image {
		height: 20%;
	}

	#donate-content {
		margin: 10px;
		height: 50%;
		text-align: center;
	}

	#donate-content p {
		font-size: 16px;
		margin: 0px;
		padding-top: 5px;
	}

	#donate-content ul {
		padding: 0px;
		margin-top: 5px; 
	}

	#donate-content li {
		margin-top: 5px;
	}

	#paypal {
		width: 200px;
		margin-top: 5%;
		margin-left: 25%;
		margin-right: 25%;
		margin-bottom: 10px;
	}
}