#project-SEED {
	height: 978px;
}

#paypal {
	width: 300px;
	padding-top: 20px;
}

p {
	font-size: 18px;
	color: black;
}

div #project-seed-content, .row {
	margin: 50px;
	height: 389px;
	text-align: center;
}

@media (min-width: 300px) and (max-width: 766px){
	#large-image {
		height: 20%;
	}

	p {
		font-size: 14px;
	}
}
