#SADA {
	color: #5a5a5a;
	height: 980px;
}

div#SADA-about.row{
	margin: 0px;
}

h2 {
  color: #065c98;
  text-align: center;
  text-transform: uppercase;
}

h3 {
  color: #065c98;
  text-align: center;
  text-transform: uppercase; 
}
li {
	text-align: center;
}
